* {
	margin: 0;
}
html{
    height: 100%;
}
body{
    background-color:#e4e4e4;
    padding:0px;
    border:0px;
    margin:0px;
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    height: 100%;
}
div{
    position:relative;
}
.bold{
    font-weight: bold;
}
.frontpage_block_content{
    display:none;
}
.frontpage_block_content.active{
    display:block;
}
.page{
    display:none;
}
.page.active{
    display:block;
}
#frontpage_page{
    width:100%;
    height:100%;
}
#main_page{
    height: 100%;
}
#page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -300px;
}
#page-wrap:after {
    content: "";
    display: block;
}

#header_outer{
    width:100%;
    background-color:#1f6370;
    height:80px;
    color: #fff;
}

#wallet_test_version_container{
    text-transform:uppercase;
    position:absolute;
    right:20px;
    top:0px;
    font-size:15px;
}
#wallet_test_version_container_frontpage{
    text-transform:uppercase;
    position:absolute;
    left:85px;
    top:60px;
    font-size:15px;
    color:#fff;
    letter-spacing:10px;
}
@media (min-width: 1060px) {
    #wallet_test_version_container_frontpage{
        left:auto;
        right:40px;
        top:30px;
    }
}
#main_outer{
    width:100%;
    position:relative;
    padding-top:100px;
}
#main_inner{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
a{
    color:#1f6370;
    font-weight:500;
    font-size:15px;
    cursor:pointer;
    text-decoration: none;
}
a:hover{
    color:#10333a;
}
.italic{
    font-style: italic;
}
.link{
    color:#1f6370;
    text-transform:uppercase;
    font-weight:500;
    font-size:14px;
    cursor:pointer;
}
#exit_popup{
    height:27px;
    width:27px;
    position:absolute;
    top:-40px;
    right:0px;
    cursor:pointer;
}
#popup_container{
    position:relative;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    top:200px;
    background-color:#1f6370;
    padding:20px;
    border-radius: 0 15px 0 15px;
    color:#fff;
    z-index:110;
    word-break: break-word;
}
#loader_container{
    position:relative;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    top:200px;
    padding:20px;
    z-index:110;
}
#popup_background{
    position:fixed;
    height:100%;
    width:100%;
    background-color:#fff;
    z-index:100;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    display:none;

}
#popup_outer{
    position:absolute;
    height:1px;
    width:100%;
    z-index:110;
    display:none;
}
.block_1_wide_left_icon{
    height:36px;
    position:absolute;
    left:0px;
}
.block_1_wide_right_text{
    float:left;
    padding-left:51px;
    padding-right:5px;
    width:100%;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    word-break:normal;
}
.block_2_wide_right_text{
    float:left;
    margin-left:51px;
    margin-right:5px;
}
.copy_spacing_right{
    padding-right:30px;
}
.copy_icon{
    width:25px;
    z-index:49;
}
.copy_icon_right{
    position:absolute;
    right:0px;
}
.copy{
    cursor:pointer;
}
.block_1_wide_right_text_one_line{
    float:left;
    padding-left:51px;
    padding-right:5px;
    position:relative;
    top:8px;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    word-break:normal;
}
.clear_both{
    clear:both;
    width:100%;
    height:1px;
}
.line_separater{
    clear:both;
    padding-top:20px;
}
.line_separater_medium{
    clear:both;
    padding-top:10px;
}
.thin_line{
    width:100%;
    height:1px;
    background-color:#000;
}
h1{
    color:#1f6370;
    font-size: 35px;
    font-weight:400;
}
h2{
    color:#000;
    font-size: 19px;
    font-weight:500;
}
.frontpage_block{
    position:relative;
    left:200px;
    top:8%;
}
@media (max-width: 700px) {
    .frontpage_block{
        left:10%;
    }
}
.frontpage_block_background{
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    background-color:#fff;
    opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 0 9px 0 9px;
}
.frontpage_block_content_container{
    z-index:10;
    padding-left:30px;
    padding-right:30px;
    padding-top:13px;
    padding-bottom:23px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #1f6370;
    border-bottom: 16px solid #1f6370;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

}
.popup_loader_container{
    clear:both;
    margin-top:20px;
    width:120px;
    margin-left:auto;
    margin-right:auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.tab_item{
    display:none;
}
.tab_item.active{
    display:block;
}
table{
    text-align: left;
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.italic_heading{
    font-weight:400;
    font-size:14px;
    font-style:italic;
    text-transform:uppercase;
    margin-top:18px;
}
.popup_content_store{
    display:none;
}

#frontpage_page_background{
    width:100%;
    height:100%;
    position:fixed;
}




/*Block layout*/
.block_1_wide{
    width:326px;
    float:left;
    margin:20px;
}

.block_2_wide{
    width:693px;
    float:left;
    margin:20px;
}

.block_right{
    float:left;
}


.block_title{
    margin:10px;
    text-transform: uppercase;
    font-size:18px;
    width:95%;
    font-weight:500;
}
.block_content_container{
    background-color:#fff;
    padding:30px;
    padding-top:22px;
    padding-bottom:22px;
    word-break: break-word;
}


/*Inputs*/
@keyframes onAutoFillStart {  from {/**/}  to {/**/}}
input:-webkit-autofill {
    /*// Expose a hook for JavaScript when autofill is shown*/
    /*// JavaScript can capture 'animationstart' events*/
    animation-name: onAutoFillStart;

    /*// Make the background color become yellow really slowly*/
    /*transition: background-color 50000s ease-in-out 0s;*/
}
input {
    transition: background-color 0.1s, color 0.1s, filter 0.1s;
}

input, textarea{
    padding-top:14px;
}
input, .file_input{
    height:50px;
    background-color:#898989;
    color:#f0f0f0;
    border:0px;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size:16px;
}
.file_input.filled {
    background-color: #f0f0f0;
    color: #747474;
}
.file_input{
    padding-top:16px;
    cursor:pointer;
}
input:focus{
    background-color:#f0f0f0;
    color:#898989;
}
input.filled {
    background-color: #f0f0f0;
    color: #747474;
}
::placeholder{
    color:#f0f0f0;
}
.input__label{
    cursor: text;
    right: auto;
    position: absolute;
    color: #f0f0f0;
    z-index: 3;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform-origin: top left;
    font-size: 16px;
    top: 16px;
    left: 20px;
    transition: all 0.2s ease;
}

.input__label--active,
.input__label--active-always{
    top: 3px;
    font-size: 12px;
    color: #1f6370;
}

.input_line_container{
    clear:left;
    padding-bottom:20px;
}
.input_line_container > input{
    /*width:590px;*/
}
.required_star{
    position:absolute;
    top:16px;
    left:-20px;
    font-size:26px;
    color:#ababab;
    display:inline-block;

}
input[type="submit"], .button{
    background-color:#1b6371;
    width:auto;
    color:#fff;
    border-radius: 0 9px 0 9px;
    cursor:pointer;
    float:right;
    height:38px;
    padding-left:20px;
    padding-right:20px;
    padding-top:2px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    cursor:pointer;
}
.button{
    padding-top:10px;
    cursor:pointer;
}
input[type="submit"].light_button, .light_button{
    background-color:#fff;
    width:auto;
    color:#1b6371;
    border-radius: 0 9px 0 9px;
    cursor:pointer;
    float:right;
    height:38px;
    padding-left:20px;
    padding-right:20px;
    padding-top:2px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    cursor:pointer;
}
.light_button{
    padding-top:10px;
    cursor:pointer;
}
.frontpage_block_content .light_button{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.label{
    text-transform:uppercase;
    color: #858585;
    font-size:12px;
    display:inline-block;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    width:90px;
    display:inline-block;
    margin-right:10px;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: #898989;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #666666 transparent transparent transparent;
}
.file_input:after{
      position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #666666 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #666666 transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #898989;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #1b6371;
}




.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
    word-break: break-word;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #898989;
  border-bottom: 1px solid #d4d4d4;
    color:#fff;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #1b6371;

}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #1b6371 !important;
  color: #ffffff;
}




/*MISC*/
#send_transaction_fee_estimation_container{
    font-weight:300;
    font-style:italic;
    font-size:13px;
}
#send_transaction_fee_estimation_text{
    display:inline-block;
    position:relative;
    top:-6px;
    margin-left:8px;
}
.notes{
    font-weight: 300;
    font-style: italic;
    font-size: 13px;
}
#send_transaction_advanced_options_link{
    margin-top:8px;
}
#send_transaction_advanced_options_container{
    margin-top:18px;
    margin-bottom:60px;
    display:none;
}
#multiple_transaction_container{
    margin-top:15px;
}
.delete_transaction{
    cursor:pointer;
    position:absolute;
    left:-20px;
    height:16px;
}
.delete_contact{
    cursor:pointer;
    position:absolute;
    left:-20px;
    height:16px;
}
tbody{
    font-size:14px;
}
td{
    padding:5px;
    padding-top:10px;
    border-bottom:1px solid #eee;
    word-break: break-word;
}


.tx_hist_prev_next_nav{
    margin-top:10px;
    clear:both;
    float:right;
}
.tx_hist_page_nav{
    float:right;
    margin-right:20px;
    margin-top:10px;
}
.tx_hist_prev_nav{
    float:right;
    margin-right:20px;
    cursor:pointer;
}
.tx_hist_next_nav{
    float:right;
    cursor:pointer;
}


/*HISTORICAL MIN GAS PRICE*/

#historical_min_gas_plot_div{
    width:100%;
    height:500px;
}


.tx_history_row{
    cursor:pointer;
}
.tx_history_row:hover{
    background-color:#eeeeee;
}
.tx_history_detail_row{
    display:none;
}
.tx_history_cell_full_width{
    padding:20px;
}

/*FOOTER*/
#footer{
    width:100%;
    background-color: #1f6370;
}
#footer, #page-wrap:after {
  height:300px;
}
#footer_inner{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
#footer_margin{
    clear:both;
    width:100%;
    height:60px;
}

/*Resizing*/

@media (min-width: 1100px) {
    #main_inner{
        width:1100px;
    }
    #footer_inner{
        width:1100px;
    }
    .block_right{
        float:right;
    }
}

@media (max-width: 733px) {
    .block_1_wide, .block_2_wide{
        width:100%;
        float:left;
        margin-left:0px;
        margin-right:0px;
    }
}
#send_block_submit{
    position:relative;
    top:-35px;
}
#send_block_pre_confirmation{
    height:0px;
}
@media (max-width: 600px){
    #send_block_submit{
        top:-20px;

    }
    #send_block_pre_confirmation{
        height:15px;
    }
}

#network_id_select{
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}