<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Helios Wallet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="An infinitely scalable cryptocurrency and smart contract platform based on fully parallelized concurrent blockchains. The Helios platform is designed from the ground up to be futureproof with secure, high speed, and low fee transactions, and to enable truly decentralized and democratic applications." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!-- plugins -->
    <link href="assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css" />
</head>





