<div class="left-side-menu">
    <div class="sidebar-content">
        <!--- Sidemenu -->
        <div id="sidebar-menu" class="slimscroll-menu">
            <ul class="metismenu" id="menu-bar">
                <!--<li class="menu-title">Navigation</li>-->
                <li>
                    <a href="dashboard.html">
                        <img src="assets/icon/menu1.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Dashboard </span>
                    </a>
                </li>
                <li>
                    <a href="transactions.html">
                        <img src="assets/icon/menu2.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Transactions </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/icon/menu3.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Local Wallets </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/icon/menu4.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Online Wallets </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/icon/menu5.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Contact List </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/icon/menu6.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Account </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/icon/menu7.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Setting </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/icon/menu8.png" class="avatar-menu rounded align-self-center mr-2" alt="Helios">
                        <span> Logout </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->

</div>