<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '../../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TAGCODE');</script>
    <!-- End Google Tag Manager -->
    <title>Helios - Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="login_assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="login_assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="login_assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="login_assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="login_assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="login_assets/css/skins/default.css">

</head>
<body id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TAGCODE"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Login 7 start -->
<div class="login-7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-pad-0 bg-img none-992">
                <div class="logo">
                    <a href="https://heliosprotocol.io/">
                        <img src="login_assets/img/logos/logo.png" alt="logo">
                    </a>
                </div>
                <div class="informeson">
                    <h3 class="fw-2 ls-1">Welcome to Helios Protocol Wallet</h3>
                    <p class="">ALREADY HAVE AN ACCOUNT ?</p>
                    <a href="login.html" class="btn-theme">Login to your account</a>
                </div>
                <div class="social-box">
                    <p class="fw-4 ls-4 fs-11 helios_color">© COPYRIGHT 2020</p>
                    <p class="fw-4 ls-2 fs-12 helios_color">HELIOS BLOCKCHAIN TECHNOLOGIES LTD.</p>
                </div>
            </div>
            <div class="none-min-992 mobile_logo col-sm-12">
                <div class="">
                    <a href="#">
                        <img src="login_assets/img/logos/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-pad-0 bg-color-7">
                <div class="login-inner-form ">
                    <div class="details">
                        <div class="logo-2">
                            <a href="https://heliosprotocol.io/">
                                <img src="login_assets/img/logos/logo.png" class="logo" alt="logo">
                            </a>
                        </div>
                        <h3>Create an account</h3>
                        <form action="#" method="GET">
                            <div class="form-group">
                                <input type="text" name="Username" class="input-text" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="input-text" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" class="input-text" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" class="input-text" placeholder="Repeat Password">
                            </div>
                            <div class="form-group float-left">
                                <button type="submit" class="btn-md btn-theme">Register</button>
                            </div>
                            <p class="none-2">Already have an account ?<a href="login.html" class="thembo">Login Here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login 7 end -->

<!-- External JS libraries -->
<script src="login_assets/js/jquery-2.2.0.min.js"></script>
<script src="login_assets/js/popper.min.js"></script>
<script src="login_assets/js/bootstrap.min.js"></script>
<!-- Custom JS Script -->

</body>
</html>