 <!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HLS Wallet Prototype</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <script src="js/helios-wallet-master.js?version=13"></script>
    <script src="js/send_transaction_block.js?version=13"></script>
    <script src="js/transaction_history_block.js?version=13"></script>
    <script src="js/frontpage.js?version=13"></script>
    <script src="js/historical_gas_price_block.js?version=13"></script>
    <script src="js/incoming_transactions_block.js?version=13"></script>
    <script src="js/offline_wallets.js?version=13"></script>
    <script src="js/online_wallets.js?version=13"></script>
    <script src="js/contacts.js?version=13"></script>
    <script src="js/utils.js?version=13"></script>
    <script src="js/visual.js?version=13"></script>
    <script src="js/main.js?version=13"></script>
    <script src="js/menu.js?version=13"></script>
    <script src="js/custom_select.js?version=13"></script>
    <script src="js/autocomplete.js?version=13"></script>
    <script src="js/two_factor_authentication.js?version=13"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,300i,400,400i,500,600" rel="stylesheet">
    <link rel="stylesheet" href="css/menu.css?version=13">
    <link rel="stylesheet" href="css/main.css?version=13">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1f6370" />

</head>

<body>
    <div id="page-size-indicator"></div>
    @@include( '../includes/popup.html')
    <div id='frontpage_page' class='page active'>
        @@include( '../includes/main_frontpage.html')
    </div>
    <div id='main_page' class='page'>
        <div id="page-wrap">

            @@include( '../includes/menu.html')


            <div id="main_outer">
                @@include( '../includes/main_inner.html')
            </div>

            <div class='popup_content_store' id='popup_content_confirm_transactions'>
                @@include( '../includes/popup_content_confirm_transactions.html')
            </div>
            <div class='popup_content_store' id='popup_content_confirm_online_wallet_delete'>
                @@include( '../includes/popup_content_confirm_online_wallet_delete.html')
            </div>
            <div class='popup_content_store' id='popup_content_new_two_factor_authentication'>
                @@include( '../includes/popup_content_new_two_factor_authentication.html')
            </div>
            <div class='popup_content_store' id='popup_content_frontpage_warning'>
                @@include( '../includes/popup_content_frontpage_warning.html')
            </div>
            <div id="footer_margin"></div>
        </div>
        @@include( '../includes/footer.html')
    </div>

</body>
</html>